ctransformers #For using the quantized llama 2 model
langchain #Main framework to build LLM apps
pinecone #Vector database for indexing and storing embeddings
flask #Web framework 
python-dotenv #For loading keys stored as environment variables from .env file
ipykernel #For running Jupyter notebooks
langchain-community
